
html{
  background-color:#fafafa;
  font-family: 'soleil', 'Roboto', sans-serif;
  overflow: hidden;
}

.header {
  display: block;
  width: 100%;
  height: 30vh;
  height: calc(var(--vh, 1vh) * 30)
}

h1 a {
  color:#1a1a1a;  
  opacity: 0.85; 
  font-weight: 900;
  font-size: 14vh;
  transition: 200ms;    
}

h1 a:hover {
  color:#252525;  
  opacity: 1;
}  

a {
  color:#1a1a1a;
  cursor:pointer;
  text-decoration:none;
  font-size: 2vh;
}

.content {
  text-align: center;
}

.link {
  color:#1a1a1a;  
  font-family: "soleil", "Roboto", "Helvetica Neue", sans-serif !important;
  font-weight: 100;
  padding: 0.3em 1em 0.3em 1em;
}


.link-box {
  position: relative;
  bottom: -35vh;
  bottom: calc(var(--vh, 1vh) * -35)
}

@media screen and (max-device-width: 800px) {
  a.link {
    font-size: 1.5rem;
    display: block;
  }

  .name a {
    font-size: 4em;
  }
  
  .link-box {
    bottom: -15vh;
    bottom: calc(var(--vh, 1vh) * -15)
  }
}

